.kkkk {
  font-size: 20px;
}

body {
  font-size: 30px;
  background: #000;
}

span {
  font-size: 20px;
}

@media (max-width: 767px) {
  span {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  span {
    font-size: 12px;
  }
}

div {
  font-size: 20px;
}

@media (max-width: 767px) {
  div {
    font-size: 15px;
  }
}

@media (max-width: 320px) {
  div {
    font-size: 12px;
  }
}

.yellow {
  color: yellow;
}
